body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.palette {
  display: flex;
  gap: 15px;
}

.color {
  width: 120px;
  height: 180px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  color: white;
}


.c1 { background: #ce6a6b; }
.c2 { background: #ebaca2; color: #333; }
.c3 { background: #bed3c3; color: #333; }
.c4 { background: #4a919e; }
.c5 { background: #212e53; }
